@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form{
  box-shadow: 15px 25px 21px -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}
#main-form{  box-shadow: 15px 25px 21px -3px;}

.dob{
  outline: none;
    font-family: sans-serif;
    line-height: 29px;
    letter-spacing: 3px;
    margin: 10px 0px;

}



.text{
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em
}

.userInfo{
  z-index: 12;
  flex-direction: column;
  position: fixed;
  height: 70%;
  width: 40%;
  top: 20%;
  bottom: 0;
  right: 0;
  left: 30%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 25px 25px 25px;
} 

.userDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 60%);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1201;
  top: 0;
  left: 0;

}

.postMain{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  height: 70%;
  width: 70%;
  background: #fff;
  box-shadow: 25px 25px 25px;
}

  .postDiv{position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 1201;
    background-color: rgb(0 0 0 / 60%);
    align-items: center;
    justify-content: center;
        }
    .input{

      align-self: flex-end;
      position: absolute;
      color: #fff;
      z-index: 2;
      background: red;
      padding: 15px 18px;
      border-radius: 50%;
      top: 0%;
      margin: 10px;
      border: none;
      outline: none;
    }

    .allPost{
      display: flex;
      /* flex-direction: column-reverse; */
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      /* justify-content: center; */
    }

    .edit{
      outline: none;
      border: none;
      border-bottom: 2px solid rgb(56, 105, 241);
      font-size: 17px;
      font-family: sans-serif;
      width: 130px;
      text-align: center;
    }
    .span {
      width: 130px;
    }

    div>p{
      text-align: center;
    }

    .user{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .Results{
      position: fixed;
      background: #fff;
      color: #000;
      z-index: 1308;
      /* top: 3%; */
      width: 240px;
    }

  .userPicDiv { 
    position: relative;
    bottom: 50%;
    height: 250px;
    border: 5px solid #1976d2;
    width: 250px;
    border-radius: 50%;}

    .userPic{
      position: relative;
      height: 250px;
      width: 250px;
      border-radius: 50%;
    }

  .info>p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    /* align-self: flex-start; */
    font-weight: 800;
    color: #2c2929;
    line-height: 0.7;
  }

  .info{margin-top:8%;}

  @media screen and (max-width: 910px) {
    .info{margin-top:12%;}
  }

  @media screen and (max-width: 620px) {
    .info{margin-top:16%;}
  }

  @media screen and (max-width: 410px) {
    .info{margin-top:20%;}
  }

  @media screen and (max-width: 380px) {
    .info{margin-top:24%;}
  }

  @media screen and (max-width: 250px) {
    .info{margin-top:28%;}
  }
 
  .userNav{
    width: 65%;
    /* align-items: center; */
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
  }

  .gen {
    color: #706a6a;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 135px;
  }

a {
  text-decoration: none;
}

.userCl {
  display: flex;
  font-size: 15px;
  border: 1px solid #ddcfcf;
  justify-content: space-evenly;
  align-items: center;
  color: #706e6e;
  cursor: pointer;
}

.wd-80{
  width: 80%;
}



/* .userCl{
  font-size: 15px;
  margin: 7px;
  color: #706e6e;
} */

.popBtn {
    order: none;
    border-radius: 25px;
    color: #fff;
    background: #1976d2;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: relative;
}

.error{
    color: #d32f2f;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}

.wid{
  width: 474px !important;
}

.hei {
  height: 474px !important;
}

.loadingGif{
  position: fixed;
  background: rgb(0 0 0 / 14%);
  z-index: 1201;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.pencil{
  font-size: 20px;
  color: #6c6b6b;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #125eaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #044381;
}

.navlinks{
    background: #fff;
    /* border-left: 1px solid #1976d2; */
    /* border-right: 1px solid #1976dfw2; */
    /* border-bottom: 1px solid #1976d2; */
    height: 50px;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1204;
}

.navlinks-wrapper{
  height: 50px;
  width: 100%;
}

.navlinks svg {
  font-size: 30px;
}
.whats{
  margin-left: 20px;
  background: #eff2f5;
  outline: none;
  border: none;
  border-radius: 999px;
  padding: 10px;
  width: 350px;
}


.statusBar, .statusAction {
  display: flex;
}

.statusBar{
  padding:25px 0px;
}

.statusAction{
  width: 100%;
    display: flex;
    border: 1px solid #cdc2c2;
    justify-content: space-evenly;
}
.action{
  cursor: pointer;
  width: 33.33%;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}



.mainStatas{
  width: 474px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px 0px 0px;
  margin: 10px 0px;
  box-shadow: 5px 5px 5px #c9bdbd;
  background: #fffefe;
  align-self: center;
}

.coverPic{
  height: 350px;
  width: 100%;
  /* box-shadow: -1px 0px 26px #0d0c0c; */
  border-radius: 25px;
}

.cover{
  width: 100%;
}

.pic {

      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
}

.coverDiv{
  width: 100%;
  align-items: center;
  display: flex;
  height: 350px;
  flex-wrap: wrap;
  justify-content: center;
}

.updatePic{
  background: rgb(25 118 210);
  cursor: pointer;
  border-radius: 50%;
  color: #fff;
  padding: 8px;
  left: 75%;
  bottom: 15%;
  position: absolute;

}

.updatePicIco{
  cursor: pointer;
}

.emoji-picker-react{
  width: 100%!important;
}

.wid25{
  position: fixed;
  z-index: 1204;
  width: 17.5%;
}


  /* CSS For Material Elements */

  .navbar-wrapper {
width: 100%;
    min-height: 56px;
}

@media (min-width: 0px) and (orientation: landscape){
  .navbar-wrapper {

      min-height: 48px;
  }
}

@media (min-width: 600px){

  .navbar-wrapper {
    
      min-height: 64px;
  }
}

.sideBar-wrapper{
  width: 17.5%;
  height: 100vh;
}

.comment{
  margin-left: 10px;
    background: #f0ebeb;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.photoBtn{
  cursor: pointer;
  width: 100%;
    display: flex;
    justify-content: center;
}

.people{
  font-size: 15px;
    text-align: left;
    color: #3b3e40;
    font-weight: 550;
    margin-left: 8px;
}